.aboutText {
	margin-top: 30px;
	margin-bottom: 40px;

	& p {
		margin-bottom: 15px;
		line-height: 1.6;
		color: var(--text-alt);
		font-weight: 300;
		font-size: 15px;
	}
}

.service {
	margin-bottom: 2rem;

	&Title {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 600;
	}

	&List {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px 25px;
	}

	&Item {
		width: calc(50% - 25px);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 18px;
		padding: 30px;

		position: relative;
		background: var(--background-gradient);
		border-radius: 14px;
		box-shadow: var(--shadow-2);
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			inset: 1px;
			background: var(--background-gradient-before);
			border-radius: inherit;
			z-index: -1;
		}
	}

	&Content {
		text-align: left;
	}

	&ItemTitle {
		font-weight: 600;
	}

	&Icon {
		margin-bottom: 0;
		margin-top: 5px;
	}

	&ItemTitle {
		margin-bottom: 7px;
	}

	&Text {
		color: var(--text-alt);
		font-size: 15px;
		line-height: 1.6;
	}
}

.skills {
	&Title {
		font-size: 24px;
		font-weight: 700;
	}

	&List {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 2rem;
		gap: 13px;
	}

	& p {
		margin-top: 16px;
		text-align: center;
	}
}

@media screen and (max-width: 1024px) {
	.service {
		&List {
			flex-direction: column;
		}

		&Text {
			font-size: 14px;
		}

		&Item {
			width: 100%;
		}
	}
}

@media screen and (max-width: 680px) {
	.skills {
		&List {
			gap: 8px;
			font-size: 15px;
		}
	}

	.service {
		&Item {
			padding: 20px;
		}
	}
}

@media screen and (max-width: 530px) {
	.aboutText {
		margin-top: 8px;
	}

	.service {
		&Item {
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		&Content {
			text-align: center;
		}

		&Icon {
			margin: 0;
			img {
				width: 50px;
				height: auto;
			}
		}
	}
}