.card {
	/* общие стили карточки */
	margin-top: 60px;
}
.cardItem {
	/* каждый блок "Education" */
	margin-top: 30px;
}
.header {
	/* заголовок с иконкой и h3 */
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 24px;
	font-weight: bold;
}
.list {
	/* список */
	margin-left: 5px;
	margin-top: 5px;
}
.listItem {
	/* каждый li */
	h4 {
		font-weight: bold;
		margin: 10px 0;
	}
}
.btn {
	margin-top: 20px;
	margin-right: auto;
	margin-left: inherit;
	padding: 10px 15px;
}
