.item {
	display: flex;
	align-items: center;
	border-radius: 6px;
	font-weight: 500;
	color: var(--text-alt);
	padding: 8px;
	gap: 8px;
	border: 1px solid var(--border);

	&:hover {
	}
	&:active {
	}
	.icon {
	}
	.image {
	}
	.text {
	}
}
