.item {
	width: calc(50% - 25px);
	min-height: 210px;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 18px;
	padding: 30px;

	position: relative;
	background: var(--background-gradient);
	border-radius: 14px;
	box-shadow: var(--shadow-2);
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		inset: 1px;
		background: var(--background-gradient-before);
		border-radius: inherit;
		z-index: -1;
	}

	.icon {
		margin-bottom: 0;
		margin-top: 5px;
	}

	.content {
		text-align: left;

		.title {
			margin-bottom: 7px;
			font-weight: 600;
		}

		.text {
			color: var(--text-alt);
			font-size: 15px;
			line-height: 1.6;
		}
	}
}

@media screen and (max-width: 1024px) {
	.item {
		width: 100%;
		min-height: 0;

		.text {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 680px) {
	.item {
		padding: 20px;
	}
}

@media screen and (max-width: 530px) {
	.item {
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.content {
			text-align: center;

			.icon {
				margin: 0;
				img {
					width: 50px;
					height: auto;
				}
			}
		}
	}
}
